﻿@model IEnumerable<ToDoApp.Models.Note>

@{
    ViewBag.Title = "Index";
}
@{ 
    Layout = null;
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css" />
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table id="table" class="display">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>IsDone</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                @Html.ActionLink("Comments", "Index", "Comments", new { id = item.Id }, null)
            </td>
        </tr>
    </tbody>
</table>

<script>
    var url = "http://localhost:64953/Notes/GetNotes";
    $("#document").ready(function () {
        $('#table').DataTable({
            "ajax": { "url": url, "dataSrc": "" },
            columns: [
                { "data": "Title" },
                { "data": "Description" },
                { "data": "IsDone" }
            ]
        });
    });
</script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>

