﻿@model IEnumerable<AspTestApp.RouteConfig>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Strings</th>
    </tr>
    @Html.DropDownList("list")
</table>
